@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

/* LARAVEL */
/* :root { */
/*   --text: #f5f6f7; */
/*   --background: #1e2136; */
/*   --headfoot: #15172a; */
/*   --navbar: #1e2136; */
/*   --hover: #2c2e40; */
/*   --font-main: 'Kanit', serif; */
/*   --font-nav: 'Space Mono', monospace; */
/* } */

/* STANDARD */
:root {
  --text: #FFF;
  --background: #29100a;
  --headfoot: #7e321e;
  --navbar: #29100a;
  --hover: #712d1b;
  --font-main: 'Kanit', serif;
  --font-nav: 'Space Mono', monospace;
}

html {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-main);
  font-weight: 200;
}

body {
  display: grid;
  min-height: 100%;
  grid-template-areas: 
    "head head"
    "nav content"
    "foot foot";
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr auto;
}

header { grid-area: head; }
nav { grid-area: nav; }
article { grid-area: content; }
footer { grid-area: foot; }

header {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--headfoot);
  min-height: 12rem;
  object-fit: cover;
  /* padding: 0.5rem 0.5rem; */
  /* gap: 0.5rem; */

  /* .container { */
  /*   display: grid; */
  /*   place-content: center; */
  /*   background-color: var(--headfoot); */
  /*   transition: all 0.3s ease-out; */
  /* } */
  /* .container:hover { */
  /*   background-color: var(--hover); */
  /* } */
}

nav {
  display: grid;
  place-content: center;
  background-color: var(--navbar);
  margin: 9px;
}

.scramble-nav {
  font-family: var(--font-nav);
  width: 10rem;
  background-color: var(--navbar);
  color: var(--text);
  font-size: 1.5rem;
}

.scramble-nav:hover {
  background-color: var(--text);
  color: var(--background);
}

footer {
  background-color: var(--headfoot);
  min-height: 8rem;
  font-weight: 700;
  padding: 0.5rem;

  .container {
    display: grid;
    place-content: center;
    background-color: var(--headfoot);
  }
}
